body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #222;
    color: #fff;
}

a {
    color: #45daff;
    text-decoration: dotted 1px underline;
}

a:hover {
    color: #ff4141;
}

.row {
    display: flex;
}

.names {
    width: 260px;
    border: 1px solid red;
}

.cell {
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}